body {
	padding-top: 70px;
	padding-bottom: 30px;
}


/*#principal {
	min-height: 720px;
}*/

.navegacion {
	margin-top: 1em;
	margin-bottom: 2em;
}

.modal-dialog {
  	width: 80%;
}

.paginacion{
	text-align: center; 
	vertical-align: middle;

}
/*.container {
	-webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}
*/

